<<<<<<< HEAD
.octopus {
	margin-top: 40px;
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.hat {
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.glasses {
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
=======
#contact-info p
{ font-size: .8em;
}

#personal-objective h2::first-letter {
    color: #9966CC;
    font-size: xx-large;
}

 .flame {
  color:red;
}

.job {
	background-color: #e9e5dc; 
	border-radius: 15px;
	padding-top: 5px;
}

.small-text {
	font-size: .8em;
>>>>>>> 7b2cd8f3dbadf848964043ffeaf02fbff39efa72
}